---
layout: default
published: true
sitemap:
  priority: 0.9
---


{% include slider.html photos=site.data.images.front_page.top %}
<div class="row">
  <div class="col s4"><button class="homepage-banner-top"><a href="http://outercoast.org/summer/apply/">Apply to the Summer Seminar</a></button></div>
      <div class="col s4 homepage-banner-top-second"><p><a href="http://outercoast.org/year/">Apply to the Outer Coast Year</a></p></div>
      <div class="col s4 homepage-banner-top-third"><p><a href="https://www.nytimes.com/2019/06/08/opinion/sunday/college-anti-college-mainstream-universities.html"><i>Read about Outer Coast in The New York Times<i></a> </p></div>
    </div>


<div class="main-section index-page">
  <div class="container">

    {% capture my-include %}{% include index.md %}{% endcapture %}
    {{ my-include | markdownify }}


  </div>
</div>

{% include img-parallax.html image=site.data.images.front_page.footer %}
