---
layout: default
published: true
sitemap:
  priority: 0.9
---


{% include slider.html photos=site.data.images.front_page.top %}
<div class="row">
  <a href="http://outercoast.org/summer/apply/"><div class="col s4 homepage-banner-top">Apply to the Summer Seminar</div></a>
  <a href="http://outercoast.org/year/"><div class="col s4 homepage-banner-top-second"><p>Apply to the Outer Coast Year</p></div></a>
  <a href="https://www.nytimes.com/2019/06/08/opinion/sunday/college-anti-college-mainstream-universities.html"><div class="col s4 homepage-banner-top-third">Read about Outer Coast in The New York Times</div></a>
    </div>


<div class="main-section index-page">
  <div class="container">

    {% capture my-include %}{% include index.md %}{% endcapture %}
    {{ my-include | markdownify }}


  </div>
</div>

{% include img-parallax.html image=site.data.images.front_page.footer %}
