---
layout: default
published: true
sitemap:
  priority: 0.9
---


{% include slider.html photos=site.data.images.front_page.top %}
<div class="row">
      <div class="col s4 homepage-banner-top"><p> Read about Outer Coast in <a href="https://www.nytimes.com/2019/06/08/opinion/sunday/college-anti-college-mainstream-universities.html"><i>The New York Times<i></a> </p></div>
      <div class="col s4 homepage-banner-top-2"><p>I am a second block of text/<p></div>
      <div class="col s4 homepage-banner-top-3"><p>I am a third block of text</p></div>
    </div>


<div class="main-section index-page">
  <div class="container">

    {% capture my-include %}{% include index.md %}{% endcapture %}
    {{ my-include | markdownify }}


  </div>
</div>

{% include img-parallax.html image=site.data.images.front_page.footer %}
